.Cat {
  block-size: 5cm;
}

.Cat-table{
  background-color: coral;
  display:table;
  padding: 1pt;
  margin: 5pt;
  text-align: center;
}

.Cat-info{
  background-color: bisque;
  padding: 1cm;
  text-align: center;
}