.Cat {
    block-size: 10cm;
    border-radius: 10px;
}

.Cat-table {
    padding-top: 10px;
    width: 100%;
    background-color: coral;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.Cat-info {
    color: white;
    padding: 1cm;
    text-align: center;
}

.catAddTable {
    text-align: center;
    width: 100%;
}

.photo {
    block-size: 10cm;
    padding: 20px;
}