.Cat {
    block-size: 15cm;
}

.Cat-table {
    width: 100%;
    background-color: coral;
    text-align: center;
    overflow: auto;
}

.Cat-info {
    color: white;
    padding: 1cm;
    text-align: center;
}

.catAddTable{
    text-align: center;
    width: 100%;
}

.photo{
    block-size: 15cm;
    padding: 20px;
}